<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <!-- linking css file -->
    <link rel="stylesheet" href="../styles/dalhousie.css">
    <title>Dalhousie</title>
</head>

<body>
    <!-- Heading -->
    <div class="heading">
        <h2>Incredible India!</h2>
        <h3>Dalhousie</h3>
        <p>Chamba - Himachal Pradesh</p>
    </div>

    <!-- Image -->
    <div class="container text-center image">
        <img src="../images/dalhousieFullpage.avif" class="img-rounded" alt="Image of Dalhousie">
    </div>

    <!-- Description -->
    <div class="description">
        <p>Perched atop a rocky ridge, with snow-clad Dhauladhar mountains and rolling emerald valleys adding to its
            natural beauty, Dalhousie, in Himachal Pradesh, is a quaint hill town perfect for a relaxing holiday. Lined
            with tall pine and deodar trees and dotted with pristine lakes and waterfalls, Dalhousie mesmerises you with
            its natural bounty. No wonder this secluded town was a favourite summer retreat of the British before
            Independence! The town preserves many remnants from its past and various quaint churches are a testimony to
            the colonial era.<span id="dots">...</span>
            <span id="more">Dalhousie was named after the then governor general of British India, Lord Dalhousie, in
                1854. Sprawling colonial-era buildings that are liberally scattered throughout the town, are a testament
                to Dalhousie's Victorian charm. Its beauty is further complemented by River Ravi flowing close by. This
                hill station also offers amazing views of the snow-capped Pir Panjal mountain range. Pines, oaks,
                rhododendrons and a number of other types of trees cover the mountain slopes. An ideal place to unwind,
                the hill station is a treasure of ancient temples, art, handicrafts and a rich cultural heritage that
                has been preserved since the 6th century. As you soak in the natural and architectural beauty, don't
                forget to sample the delicacies the town has to offer. From chha ghosht to patande, there's a lot on
                offer.</span>
        </p>
        <!-- <br> -->
        <button class="container text-center readMorebtn" onclick="myFunction()" id="myBtn">Read more</button>

    </div>

    <!-- Extra thing -->
    <div class="container text-center">
        <p>These are just few information about Dalhousie, Chamba, Himachal Pradesh. To know more about Himachal Pradesh and its
            heritage
            places, visit <a href="https://himachaltourism.gov.in/" target="_blank">Himachal Pradesh Tourism</a>.</p>
    </div>

    <!-- load javascript after loading all html content -->
    <script src="../scripts/dalhousie.js"></script>

</body>

</html>